@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

* {
    color : rgb(233, 233, 228);
    font-family: 'Maven Pro', sans-serif;
}
body {
    background-color: rgb(20, 20, 20);
    margin : 0;
    padding : 0;
}
button, input {
    color:rgb(29, 28, 28);
}


.success {
    color : green;
    font-weight: bold;
}

nav div{
    display : flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 120px;
    gap: 35px;
    background-color: rgb(39, 14, 84);
    height: 60px;
}

nav div a {
    color :rgb(233, 233, 228);
    font-weight: bold;
    text-decoration: none;
    transition: 0.1s ease-out border-bottom;
}

nav div a:hover{
    color:rgb(255, 255, 255);
    border-bottom:3px solid rgb(233, 233, 228);
}


.centered-top-div {
    margin-top: 20px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.recipe-form {
    align-items: center;
    display:grid;
    width : 400px;
    grid-template-columns: 2fr 3fr 1fr;
    row-gap: 4px;
    column-gap: 8px;
}

.recipe-form * {
    width: 95%;
    place-self: center;
    text-align : center;
}
.recipe-form label {
    grid-column : 1;
}

.recipe-form .ing {
    grid-column : 2;
    place-self: center;
}

.qte {
    grid-column : 3;
    width : 60%;
}


.ing.send {
    width : 50%;
    font-weight: 600;
}

.error {
    color:red;
}

.heading-title {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-left: 25vw;
}

.recipes {
    display:grid;
    gap: 6vw;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 22vh;
    grid-template-rows: fit-content;
    margin: auto;
    width: 75vw;
}


.ingredient {
    margin :  2px;
    padding : 0;
}

.recipe-card {
    padding: 10px;
    border-radius: 25px;
    background: rgb(81, 8, 95);
    height: clamp(300px, 25vh, 600px);
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}
.cost {
    position: absolute;
    bottom: 0;
    align-self: center;
}